.idea/
*.iml
**/__pycache__/
.history/
*.log
upload_file
upload_code
docs
.vscode
debug_milvus_description.py
check_es_metadata_size.py
=2.3.0
=2.3.0,
config_files.bak/
config_files/
neo4j_data/
neo4j_data.bak/
skipped_ids.txt
codecontext-python/
che_milvus.py
test.py
upload_client.py
add_fields_to_milvus.py
batch_insert_milvus.py
batch_upload_files.py
delete_software_data.py
docker-compose-neo4j.yml
neo4j_to_milvus.py
update_softname_in_milvus.py
verify_batch.py