claude_agent_sdk==0.1.19
elasticsearch8==8.19.3
Flask==3.1.2
langchain_text_splitters==1.1.0
neo4j==5.28.1
openai==2.15.0
py7zr==1.0.0
pydantic==2.12.5
pymilvus==2.5.4
Requests==2.32.5
tqdm==4.67.1
tree_sitter==0.25.2
tree_sitter_language_pack==0.13.0
